body {
  margin: 1em;
}

.doc {
  outline: 1px solid lightgray;
  padding: 1em;
}

.mark-as-read {
  position: absolute;
  right: 1em;
}

.confirm-read-btn{
  margin-right: 20px;
}

.cancel-read-btn{
  margin-right: 20px;
}

.hide {
  display: none; 
}

.confirm-modal {
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 40%; /* Full width */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: 0 auto;
    padding: 1em;
}
